{% extends "blog/base.html" %}
{% load static %}
{% block content %}




    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.img.url }}" alt="">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.pk %}">{{ object.author.profile.naziv }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y"}}</small>
            {% if object.author == user %}
                <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
         </div>

    </article>


        <div class="card" style="max-width: 100%;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-info">Uplatni račun: {{ post.uplatni_racun }}</li>
                <li class="list-group-item list-group-item-info">Prikupljena sredstva: {{ post.prikupljeno }}€</li>
            </ul>

        </div>

            <form action="{% url 'charge' post.pk%}" method="post" id="payment-form">
                {% csrf_token %}
              <div class="form-column">
                <label class="text-info mt-3" for="card-element">
                  Credit or debit card
                </label>
                <div class="bg-info text-white" id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
              </div>
                 <input class="form-control mt-3 bg-info text-white" type="number" min="0" required name="amount" id="amount" placeholder="Iznos donacije">
                 <div style="clear: left"></div>
                 <hr>

                {% if user.is_active != True or user.is_staff%}
                    <button class="btn btn-outline-info disabled" disabled>Doniraj</button>
                    <div style="clear: left"></div>
                    <hr>
                    <p class="text-danger">Prijava kao donator neophodna za doniranje</p>
                {% else %}
                    <button class="btn btn-outline-info mb-4" >Doniraj</button>
                {% endif %}
            </form>






{%endblock content%}
